@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Привет, мир!</h1>
    <p>Если хочется поучиться сюда заходи <a href="https://learn.microsoft.com/aspnet/core"> полезная тема</a>.</p>
</div>
